 LONG MONTHLY ANALYSIS VS 8

In [1]:
import pandas as pd
import yfinance as yf
import datetime
import time
import requests
import io
import numpy as np
import PySimpleGUI as sg
import xlwt
from xlwt.Workbook import *
from pandas import ExcelWriter
import xlsxwriter
import pandas_ta as ta

# IMPORTING MONTHLY DATABASE

In [2]:
DBdimPath = 'c:/Enigma/DataBase/'

In [3]:
#import DB#

In [4]:
mdb = pd.DataFrame()

mdb = pd.read_csv(DBdimPath + 'monthly_db.csv')

mdb.set_index('Year/Month')

,Name,Date,Open,High,Low,Close,Adj_Close,Volume,Ref
Year/Month,,,,,,,,,
AAPL20101,AAPL,2010-01-29,7.622500,7.699643,6.794643,6.859286,5.873429,15168994400,AAPL2010-01-29
AAPL20102,AAPL,2010-02-26,6.870357,7.327500,6.816071,7.307857,6.257529,10776080000,AAPL2010-02-26
AAPL20103,AAPL,2010-03-31,7.348214,8.481429,7.337500,8.392857,7.186586,12154172800,AAPL2010-03-31
AAPL20104,AAPL,2010-04-30,8.478929,9.730714,8.312500,9.324643,7.984448,12367129600,AAPL2010-04-30
AAPL20105,AAPL,2010-05-28,9.422857,9.567143,7.116071,9.174286,7.855702,18082654800,AAPL2010-05-28
...,...,...,...,...,...,...,...,...,...
TSLA202110,TSLA,2021-10-29,778.400024,1115.209961,763.590027,1114.000000,1114.000000,528800500,TSLA2021-10-29
TSLA202111,TSLA,2021-11-30,1145.000000,1243.489990,978.599976,1144.760010,1144.760010,648671800,TSLA2021-11-30
TSLA202112,TSLA,2021-12-31,1160.699951,1172.839966,886.119995,1056.780029,1056.780029,509945100,TSLA2021-12-31
TSLA20221,TSLA,2022-01-31,1147.750000,1208.000000,792.010010,936.719971,936.719971,638471400,TSLA2022-01-31
TSLA20222,TSLA,2022-02-28,935.210022,947.770020,700.000000,862.705017,862.705017,460228579,TSLA2022-02-28

# IMPORTING DAILY DATABASE

In [5]:
ddb = pd.DataFrame()

ddb = pd.read_csv(DBdimPath + 'daily_db.csv')

ddb.set_index('Year/Month/Week')

,Ref,Name,Date,Open,High,Low,Close,Adj_Close,Volume
Year/Month/Week,,,,,,,,,
AAPL2010-01-04,AAPL2010-01-04,AAPL,2010-01-04,7.622500,7.660714,7.585000,7.643214,6.544686,493729600
AAPL2010-01-05,AAPL2010-01-05,AAPL,2010-01-05,7.664286,7.699643,7.616071,7.656429,6.556003,601904800
AAPL2010-01-06,AAPL2010-01-06,AAPL,2010-01-06,7.656429,7.686786,7.526786,7.534643,6.451719,552160000
AAPL2010-01-07,AAPL2010-01-07,AAPL,2010-01-07,7.562500,7.571429,7.466071,7.520714,6.439793,477131200
AAPL2010-01-08,AAPL2010-01-08,AAPL,2010-01-08,7.510714,7.571429,7.466429,7.570714,6.482607,447610800
...,...,...,...,...,...,...,...,...,...
TSLA2022-02-22,TSLA2022-02-22,TSLA,2022-02-22,834.130005,856.729980,801.099976,821.530029,821.530029,27762700
TSLA2022-02-23,TSLA2022-02-23,TSLA,2022-02-23,830.429993,835.299988,760.559998,764.039978,764.039978,31752300
TSLA2022-02-24,TSLA2022-02-24,TSLA,2022-02-24,700.390015,802.479980,700.000000,800.770020,800.770020,45107400
TSLA2022-02-25,TSLA2022-02-25,TSLA,2022-02-25,809.229980,819.500000,782.400024,809.869995,809.869995,25309500
TSLA2022-02-28,TSLA2022-02-28,TSLA,2022-02-28,815.010010,876.690002,814.707520,862.705017,862.705017,29695779

# MONTHLY BUY ARGUMENTS

In [6]:
#Creating Argument Testing Folders#
TSTPath = 'c:/Enigma/Monthly/Test_Files/'

## Monthly Panel

In [7]:
sg.theme('DarkAmber')   # Add a touch of color


# All the stuff inside your window.
layout = [  [sg.Text('MONTHLY SET-UP')],
            [sg.Text('________________')],
            [sg.Text('BUY ARGUMENTS')],
            [sg.Text('________________')],
            [sg.Text('Volume_EMA3'), sg.Checkbox('',default=True)],
            [sg.Text('Volume_VAR_%'), sg.Input(5)],
            [sg.Text('Candle'), sg.Checkbox('', default=True)],
            [sg.Text('MA_Lined'), sg.Checkbox('', default=True)],
            [sg.Text('Above_MA20'), sg.Checkbox('', default=True)],
            [sg.Text('MA20_Crossed'), sg.Checkbox('', default=True)],
            [sg.Text('EMA8'), sg.Checkbox('', default=True)],
            [sg.Text('EMA3'), sg.Checkbox('', default=True)],
            [sg.Text('Sequince'), sg.Checkbox('', default=True)],
            [sg.Text('Trend'), sg.Checkbox('', default=True)],
            [sg.Text('Trend_VAR_%'), sg.Input(13) ],
            [sg.Text('__________________')],
            [sg.Text('SELL ARGUMENTS')],
            [sg.Text('__________________')],
            [sg.Text('Sell_JOKER'), sg.Checkbox('', default=True)],
            [sg.Text('Sell_EMA3'), sg.Checkbox('', default=True)],
            [sg.Text('EMA3_Sell_Above_%'), sg.Input(140) ],
            [sg.Text('VOL>EMA3'), sg.Checkbox('', default=True)],
            [sg.Text('VOL_EMA3_Sell_Above_%'), sg.Input(5) ],
            [sg.Text('JOKER_EMA'), sg.Input(8) ],  

            [sg.Button('Run')] ]

# Create the Window
window = sg.Window('Enigma Panel', layout)
# Event Loop to process "events" and get the "values" of the inputs
while True:
    event, values = window.read()
    if event == sg.WIN_CLOSED or event == 'Run': # if user closes window or clicks cancel
        break
    x= values[0]

window.close()

In [8]:


if values[0] is True:
    Vol_EMA3_exe = 1
else:
    Vol_EMA3_exe = 0
    
    

Above_VOL_exe = values[1]

 
if values[2] is True:
    Candle_exe = 1
else:
    Candle_exe = 0
    
    
    
if values[3] is True:
    MA_Lined_exe = 1
else:
    MA_Lined_exe = 0
    

if values[4] is True:
    Above_MA20_exe = 1
else:
    Above_MA20_exe = 0
    
    
    
if values[5] is True:
    MA20_Crossed_exe = 1
else:
    MA20_Crossed_exe = 0
    
    

if values[6] is True:
    EMA8_exe = 1
else:
    EMA8_exe = 0
   

if values[7] is True:
    EMA3_exe = 1
else:
    EMA3_exe = 0
   


 
if values[8] is True:
    Sequince_exe = 1
else:
    Sequince_exe = 0    
    
    
    
if values[9] is True:
    Trend_exe = 1
else:
    Trend_exe = 0  
    
    
Trend_GAP_exe = values[10]

if Above_VOL_exe !='':
    Above_VOL_exe = int(Above_VOL_exe)/100
else:
    Above_VOL_exe=0
    
    
if Trend_GAP_exe !='':
    Trend_GAP_exe = int(Trend_GAP_exe)/100
else:
    Trend_GAP_exe=0
    
if values[11] is True:
    Sell_EMA8_exe = 1
else:
    Sell_EMA8_exe = 0     
    
if values[12] is True:
    Sell_EMA3_exe = 1
else:
    Sell_EMA3_exe = 0         
    
EMA_Sell_Above_exe = values[13]
    
if EMA_Sell_Above_exe !='':
    EMA_Sell_Above_exe = int(EMA_Sell_Above_exe)/100
else:
    EMA_Sell_Above_exe=0
    
    
    
if values[14] is True:
    VOL_EMA3_exe = 1
else:
    VOL_EMA3_exe = 0     
        
    
    
    
    
VOL_EMA3_Sell_Above  = values[15]
    
if VOL_EMA3_Sell_Above !='':
    VOL_EMA3_Sell_Above = int(VOL_EMA3_Sell_Above)/100
else:
    VOL_EMA3_Sell_Above = 0

## Candle ARG

In [9]:
mdb["Candle"] = 0

In [10]:
# Define Green / Red Candle Argument#
#Green =1, Red =0#

In [11]:
if Candle_exe==0:
    mdb["Candle"]=0
else:
    mdb["Candle"] = np.where(mdb["Open"] < mdb["Close"], 1, 0)

In [12]:
mdb.set_index('Year/Month')

,Name,Date,Open,High,Low,Close,Adj_Close,Volume,Ref,Candle
Year/Month,,,,,,,,,,
AAPL20101,AAPL,2010-01-29,7.622500,7.699643,6.794643,6.859286,5.873429,15168994400,AAPL2010-01-29,0
AAPL20102,AAPL,2010-02-26,6.870357,7.327500,6.816071,7.307857,6.257529,10776080000,AAPL2010-02-26,1
AAPL20103,AAPL,2010-03-31,7.348214,8.481429,7.337500,8.392857,7.186586,12154172800,AAPL2010-03-31,1
AAPL20104,AAPL,2010-04-30,8.478929,9.730714,8.312500,9.324643,7.984448,12367129600,AAPL2010-04-30,1
AAPL20105,AAPL,2010-05-28,9.422857,9.567143,7.116071,9.174286,7.855702,18082654800,AAPL2010-05-28,0
...,...,...,...,...,...,...,...,...,...,...
TSLA202110,TSLA,2021-10-29,778.400024,1115.209961,763.590027,1114.000000,1114.000000,528800500,TSLA2021-10-29,1
TSLA202111,TSLA,2021-11-30,1145.000000,1243.489990,978.599976,1144.760010,1144.760010,648671800,TSLA2021-11-30,0
TSLA202112,TSLA,2021-12-31,1160.699951,1172.839966,886.119995,1056.780029,1056.780029,509945100,TSLA2021-12-31,0
TSLA20221,TSLA,2022-01-31,1147.750000,1208.000000,792.010010,936.719971,936.719971,638471400,TSLA2022-01-31,0
TSLA20222,TSLA,2022-02-28,935.210022,947.770020,700.000000,862.705017,862.705017,460228579,TSLA2022-02-28,0

In [13]:
# Candle Test File

mdb.to_csv(TSTPath + 'M_CandleTST.csv', columns=('Name','Date','Open','Close','Candle'), index=False)

## Volume Arg

### Avg Volume Arg

In [14]:
mdb["#"] = mdb.groupby(mdb["Name"]).cumcount() + 1

In [15]:
x= mdb['#'].max()
x

146

In [16]:
mdb['Accu_Vol'] = mdb.groupby(mdb["Name"]).Volume.cumsum()

In [17]:
mdb['Avg_Vol'] = mdb['Accu_Vol'] / mdb["#"]

In [18]:
# AVG VOLUME END #

### EMA3 Volume Arg

In [19]:
#Vol_EMA3

###Calc VOL MA_3###
mdb["VOL_MA3"] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.rolling(3).mean())
mdb["VOL_MA3"] = mdb["VOL_MA3"].fillna(0)

###Calc VOL EMA_3###


#mdb.loc[(mdb['#']<3), 'Vol_EMA3'] = 0
#mdb.loc[(mdb['#']>=3), 'Vol_EMA3'] = mdb['Volume'].ewm(span=3, adjust=False).mean()

mdb.loc[(mdb['#']<3), 'Vol_EMA3'] =  0
mdb.loc[(mdb['#']==3), 'Vol_EMA3'] =  mdb["Avg_Vol"]
mdb.loc[(mdb['#']>3), 'Vol_EMA3'] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.ewm(span=3, adjust=False).mean())
    

#count = 0
    
#while count < x:
    
        
    # mdb.loc[(mdb['#']<3), 'Vol_EMA3'] = 0
     #mdb.loc[(mdb['#']==3), 'Vol_EMA3'] = mdb["VOL_MA3"]
     #mdb.loc[(mdb['#']>3), 'Vol_EMA3'] = ((mdb["Volume"]*0.5)+(mdb["Vol_EMA3"].shift(1)*(0.5)))
        
    # count = count + 1
                            





#mdb["Vol_EMA3"] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.ewm(halflife=3).mean())

### EMA8 Volume Arg

In [20]:
#Vol_EMA8

###Calc VOL MA_8###
mdb["VOL_MA8"] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.rolling(8).mean())
mdb["VOL_MA8"] = mdb["VOL_MA8"].fillna(0)

###Calc VOL EMA_8###


mdb.loc[(mdb['#']<8), 'Vol_EMA8'] =  0
mdb.loc[(mdb['#']==8), 'Vol_EMA8'] =  mdb["Avg_Vol"]
mdb.loc[(mdb['#']>8), 'Vol_EMA8'] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.ewm(span=8, adjust=False).mean())
    






#mdb.loc[(mdb['#']<8), 'Vol_EMA8'] = 0
#mdb.loc[(mdb['#']>=8), 'Vol_EMA8'] = mdb['Volume'].ewm(span=8, adjust=False).mean()




















#count = 0
    
#while count < x:
    
        
 #    mdb.loc[(mdb['#']<8), 'Vol_EMA8'] = 0
  #   mdb.loc[(mdb['#']==8), 'Vol_EMA8'] = mdb["VOL_MA8"]
   #  mdb.loc[(mdb['#']>8), 'Vol_EMA8'] = (mdb["Volume"]*(2/9))+(mdb["Vol_EMA8"].shift(1)*(1-(2/9)))
        
    # count = count + 1
                            













#mdb["Vol_EMA8"] = mdb.groupby(mdb["Name"]).Volume.transform(lambda c: c.ewm(halflife=8).mean())

In [21]:
# EMA3 / EMA8 VOLUME END #

### Adding VAR to Volume Arg

In [22]:
mdb['Vol_Avg_ARG']=0
mdb['Vol_EMA3_ARG']=0
mdb['Vol_EMA8_ARG']=0

In [23]:
#more then Above_Vol_Exe#

mdb.loc[(mdb['#']==1), 'Vol_Avg_ARG'] = 0
mdb.loc[(mdb['#']!=1)&(mdb['Volume']*(1+Above_VOL_exe)>=mdb['Avg_Vol']),'Vol_Avg_ARG']= 1
mdb.loc[(mdb['#']!=1)&(mdb['Volume']*(1+Above_VOL_exe)<mdb['Avg_Vol']),'Vol_Avg_ARG'] = 0

if Vol_EMA3_exe==0:
    mdb['Vol_EMA3_ARG']=0
else:
    mdb.loc[(mdb['#']<3), 'Vol_EMA3_ARG'] = 0
    mdb.loc[(mdb['#']>=3)&((mdb['Volume']*(1+Above_VOL_exe))>=mdb['Vol_EMA3']), 'Vol_EMA3_ARG'] = 1
    mdb.loc[(mdb['#']>=3)&((mdb['Volume']*(1+Above_VOL_exe))<mdb['Vol_EMA3']), 'Vol_EMA3_ARG'] = 0
    
    
    
mdb.loc[(mdb['#']<8), 'Vol_EMA8_ARG'] = 0    
mdb.loc[(mdb['#']>=8)&((mdb['Volume']*(1+Above_VOL_exe))>=mdb['Vol_EMA8']), 'Vol_EMA8_ARG'] = 1
mdb.loc[(mdb['#']>=8)&((mdb['Volume']*(1+Above_VOL_exe))<mdb['Vol_EMA8']), 'Vol_EMA8_ARG'] = 0

In [24]:
# Vol.Arguments# NEED TO ADD VARIABLES

### Volume Arg Test Files

In [25]:
mdb.to_csv(TSTPath + 'M_Volume_TST.csv', columns=('#', 'Name','Date','Volume','Accu_Vol','Avg_Vol','Vol_EMA3','Vol_EMA8', 'Vol_Avg_ARG','Vol_EMA3_ARG', 'Vol_EMA8_ARG'  ), index=False)

## Moving AVG & EMA (on Close Price)

### Moving AVG 20 / 50 / 200 / 3 / 5 / 8

In [26]:
mdb["CLS_MA20"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(20).mean())
mdb["CLS_MA20"] = mdb["CLS_MA20"].fillna(0)

In [27]:
mdb["CLS_MA50"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(50).mean())
mdb["CLS_MA50"] = mdb["CLS_MA50"].fillna(0)

In [28]:
mdb["CLS_MA200"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(200).mean())
mdb["CLS_MA200"] = mdb["CLS_MA200"].fillna(0)

In [29]:

mdb["CLS_MA3"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(3).mean())
mdb["CLS_MA3"] = mdb["CLS_MA3"].fillna(0)

In [30]:
mdb["CLS_MA5"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(5).mean())
mdb["CLS_MA5"] = mdb["CLS_MA5"].fillna(0)

In [31]:

mdb["CLS_MA8"] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.rolling(8).mean())
mdb["CLS_MA8"] = mdb["CLS_MA8"].fillna(0)

### E_Moving AVG  3 / 5 / 8

In [32]:
###Calc EMA_3###

mdb.loc[(mdb['#']<3), 'CLS_EMA3'] =  0
mdb.loc[(mdb['#']==3), 'CLS_EMA3'] =  mdb["CLS_MA3"]
mdb.loc[(mdb['#']>3), 'CLS_EMA3'] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.ewm(span=3, adjust=False).mean())
    

#count = 0
    
#while count < x:
    
        
    # mdb.loc[(mdb['#']<3), 'CLS_EMA3'] = 0
    # mdb.loc[(mdb['#']==3), 'CLS_EMA3'] = mdb["CLS_MA3"]
   #  mdb.loc[(mdb['#']>3), 'CLS_EMA3'] = ((mdb["Close"]*0.5)+(mdb["CLS_EMA3"].shift(1)*(0.5)))
        
  #   count = count + 1

In [33]:
###Calc EMA_5###

mdb.loc[(mdb['#']<5), 'CLS_EMA5'] =  0
mdb.loc[(mdb['#']==5), 'CLS_EMA5'] =  mdb["CLS_MA5"]
mdb.loc[(mdb['#']>5), 'CLS_EMA5'] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.ewm(span=5, adjust=False).mean())
    

#count = 0
    
#while count < x:
    
        
   #  mdb.loc[(mdb['#']<5), 'CLS_EMA5'] = 0
   #  mdb.loc[(mdb['#']==5), 'CLS_EMA5'] = mdb["CLS_MA5"]
   #  mdb.loc[(mdb['#']>5), 'CLS_EMA5'] = ((mdb["Close"]*(2/6))+(mdb["CLS_MA5"].shift(1)*(1-(2/6))))
        
  #   count = count + 1

In [34]:
###Calc EMA_8###

mdb.loc[(mdb['#']<8), 'CLS_EMA8'] =  0
mdb.loc[(mdb['#']==8), 'CLS_EMA8'] =  mdb["CLS_MA8"]
mdb.loc[(mdb['#']>8), 'CLS_EMA8'] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.ewm(span=8, adjust=False).mean())
    

#count = 0
    
#while count < x:
    
        
   #  mdb.loc[(mdb['#']<8), 'CLS_EMA8'] = 0
    # mdb.loc[(mdb['#']==8), 'CLS_EMA8'] = mdb["CLS_MA8"]
    # mdb.loc[(mdb['#']>8), 'CLS_EMA8'] = (mdb["Close"]*(2/9))+(mdb["CLS_EMA8"].shift(1)*(1-(2/9)))
       
    # count = count + 1

### Moving AVG & EMoving AVG Test Files

In [35]:
mdb.to_csv(TSTPath +'M_EMA_TST.csv', columns=('#', 'Name','Date','Close','CLS_MA20','CLS_MA50','CLS_MA200','CLS_EMA3', 'CLS_EMA8' ), index=False)

## Moving Average LINED (20/50/200)

In [36]:
#MA LINED#

mdb["MA_LINED"]=0


if MA_Lined_exe==0:
    mdb["MA_LINED"]=0
else:
    mdb.loc[(mdb['CLS_MA20']>mdb['CLS_MA50'])&(mdb['CLS_MA50']>mdb['CLS_MA200']), 'MA_LINED'] = 1
    mdb.loc[(mdb['CLS_MA20']>mdb['CLS_MA50'])&(mdb['CLS_MA200']==0), 'MA_LINED'] = 1
    mdb.loc[(mdb['CLS_MA20']<=mdb['CLS_MA50']), 'MA_LINED'] = 0
    mdb.loc[(mdb['CLS_MA50']<=mdb['CLS_MA200']), 'MA_LINED'] = 0

### Moving Average LINED Test Files

In [37]:
mdb.to_csv(TSTPath + 'M_MA_LINED_TST.csv', columns=('#', 'Name','Date','Close','CLS_MA20','CLS_MA50','CLS_MA200','MA_LINED' ))

## Closing Price > MA20 / EMA3 / EMA8

### Closing Price > MA20

In [38]:
#Close Above MA20

mdb["CLS>MA20"]=0

if Above_MA20_exe==0:
    mdb["CLS>MA20"]=0
else:
    
    mdb.loc[(mdb['#']<20), 'CLS>MA20'] = 0
    mdb.loc[(mdb['#']>=20)&(mdb['Close']>mdb['CLS_MA20']), 'CLS>MA20'] = 1
    mdb.loc[(mdb['#']>=20)&(mdb['Close']<=mdb['CLS_MA20']), 'CLS>MA20'] = 0

### Closing Price > EMA8

In [39]:
#Close Above EMA8

mdb["CLS>EMA8"]=0

if EMA8_exe==0:
    mdb["CLS>EMA8"]=0
else:
    
    mdb.loc[(mdb['#']<8), 'CLS>EMA8'] = 0
    mdb.loc[(mdb['#']>=8)&(mdb['Close']>mdb['CLS_EMA8']), 'CLS>EMA8'] = 1
    mdb.loc[(mdb['#']>=8)&(mdb['Close']<=mdb['CLS_EMA8']), 'CLS>EMA8'] = 0

### Closing Price > EMA3

In [40]:

#Close Above EMA3





mdb["CLS>EMA3"]=0

if EMA3_exe==0:
    mdb["CLS>EMA3"]=0
else:


    mdb.loc[(mdb['#']<3), 'CLS>EMA3'] = 0
    mdb.loc[(mdb['#']>=3)&(mdb['Close']>mdb['CLS_EMA3']), 'CLS>EMA3'] = 1
    mdb.loc[(mdb['#']>=3)&(mdb['Close']<=mdb['CLS_EMA3']), 'CLS>EMA3'] = 0

In [41]:
values[16]

'8'

### Closing Price > MA20 / EMA3 / EMA8 Test Files

In [42]:
mdb.to_csv(TSTPath + 'M_EMA3&EMA8_TST.csv', columns=('#', 'Name','Date','CLS>MA20','Close','CLS_EMA3','CLS_EMA8','CLS>EMA3','CLS>EMA8' ), index=False)

## Touch MA20

In [43]:
#mdb.insert(0,'id', range(1, 1+len(mdb)))

In [44]:
#x=(mdb['id'].iloc[-1]+1)

In [45]:
#x = x / stock_number*5

x

146

In [46]:
mdb["touch"]=0

if MA20_Crossed_exe==0:
    mdb["touch"]=0
else:
    mdb.loc[(mdb['High']>mdb['CLS_MA20'])&(mdb['Low']<mdb['CLS_MA20']), 'touch'] = 1
    mdb.loc[(mdb['High']<=mdb['CLS_MA20']), 'touch'] = 0
    mdb.loc[(mdb['Low']>=mdb['CLS_MA20']), 'touch'] = 0




#ma20touch_cond  = [ (mdb["High"] > mdb["CLS_MA20"]) & (mdb["Low"] < mdb["CLS_MA20"])]

#ma20touch_choices     = [1]

#mdb["touch"] = np.select(ma20touch_cond, ma20touch_choices, default=0)

In [47]:
mdb["touch&ema8"]=0

if MA20_Crossed_exe==0:
    mdb["touch&ema8"]=0
    
else:
    
    count = 0
    
    while count < x:
        
        mdb.loc[(mdb['#'] == 1), 'touch&ema8'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] <= mdb['CLS_EMA8']) & (mdb['touch'] == 1), 'touch&ema8'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] > mdb['CLS_EMA8']) & (mdb['touch'] == 1), 'touch&ema8'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] >= mdb['CLS_EMA8']) & (mdb['touch'] == 0), 'touch&ema8'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] < mdb['CLS_EMA8']) & (mdb['touch'] == 0), 'touch&ema8'] = mdb['touch&ema8'].shift(1)
        
        count = count + 1

In [48]:
mdb["touch8new"]=0

if MA20_Crossed_exe==0:
    mdb["touch8new"]=0
    
else:


    count = 0

    while count < x:
        
        mdb.loc[(mdb['#'] == 1), 'touch8new'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['touch&ema8'] == 1), 'touch8new'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] >= mdb['CLS_EMA8']) & (mdb['touch&ema8'] == 0), 'touch8new'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['Close'] <= mdb['CLS_EMA8']) & (mdb['touch&ema8'] == 0), 'touch8new'] = 0
    
    
        count = count + 1

In [49]:
mdb["MA20TOUCH"]=0


if MA20_Crossed_exe==0:
    mdb["MA20TOUCH"]=0
    
else:

    count = 0

    while count < x:
        
        mdb.loc[(mdb['#'] == 1), 'MA20TOUCH'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['touch8new'] == 1) & (mdb['touch'] == 1), 'MA20TOUCH'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['touch8new'] < 1) & (mdb['touch'] < 1), 'MA20TOUCH'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['touch'] == 1), 'MA20TOUCH'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['touch8new'] == 1) & (mdb['touch'] == 0), 'MA20TOUCH'] = mdb['MA20TOUCH'].shift(1)
    
        count = count + 1

### Touch MA20 Test File

In [50]:
mdb.to_csv(TSTPath + 'M_TouchMA20_TST.csv', columns=('#', 'Name','Date','High','Low','Close','CLS_MA20','touch','CLS_EMA8','touch&ema8', 'touch8new','MA20TOUCH'  ), index=False)

In [51]:
x

146

## Sequence Start

In [52]:
mdb["seq_up"] = ""
mdb["seq_dw"] = ""
mdb["SEQ_UP/DOWN"] = ""
mdb["seq_ref_up"] = ""
mdb["seq_ref_dw"] = ""
mdb["seq_ref_y/n"] = ""
mdb["seq_open"] = 0
mdb["seq_high"] = 0
mdb["seq_low"] = 0
mdb["seq_close"] = 0
mdb["seq_adj_close"] = 0

In [53]:
# "seq_open" / "seq_high" / "seq_low" / "seq_close" / "seq_adj_close"

# "seq_up"

#"seq_dw"

# "SEQ_UP/DOWN"

#"seq_ref_up"

#"seq_ref_dw"   

#  "seq_ref_y/n"

In [54]:

if Sequince_exe==0:
    
    mdb["seq_up"] = 0
    mdb["seq_dw"] = 0
    mdb["SEQ_UP/DOWN"] = 0
    mdb["seq_ref_up"] = 0
    mdb["seq_ref_dw"] = 0
    mdb["seq_ref_y/n"] = 0
    mdb["seq_open"] = 0
    mdb["seq_high"] = 0
    mdb["seq_low"] = 0
    mdb["seq_close"] = 0
    mdb["seq_adj_close"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'seq_open'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] == 'y')&(mdb['#'] != 1), 'seq_open'] = mdb["Open"]
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] != 'y')&(mdb['#'] != 1), 'seq_open'] = mdb["seq_open"].shift(1)
    
    
        mdb.loc[(mdb['#'] == 1), 'seq_high'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] == 'y')&(mdb['#'] != 1), 'seq_high'] = mdb["High"]
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] != 'y')&(mdb['#'] != 1), 'seq_high'] = mdb["seq_high"].shift(1)
    
        mdb.loc[(mdb['#'] == 1), 'seq_low'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] == 'y')&(mdb['#'] != 1), 'seq_low'] = mdb["Low"]
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] != 'y')&(mdb['#'] != 1), 'seq_low'] = mdb["seq_low"].shift(1)
        
        mdb.loc[(mdb['#'] == 1), 'seq_close'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] == 'y')&(mdb['#'] != 1), 'seq_close'] = mdb["Close"]
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] != 'y')&(mdb['#'] != 1), 'seq_close'] = mdb["seq_close"].shift(1)
    
        mdb.loc[(mdb['#'] == 1), 'seq_adj_close'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] == 'y')&(mdb['#'] != 1), 'seq_adj_close'] = mdb["Adj_Close"]
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_y/n'] != 'y')&(mdb['#'] != 1), 'seq_adj_close'] = mdb["seq_adj_close"].shift(1)
    
    
        mdb.loc[(mdb['#'] == 1), 'seq_up'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'].shift(1) == 'up')&(mdb['Close']>mdb['seq_low'].shift(1)) , 'seq_up'] = 'up'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'].shift(1) == 'up')&(mdb['Close']<=mdb['seq_low'].shift(1)) , 'seq_up'] = '0'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'].shift(1) !='up')&(mdb['Close']>mdb['seq_high'].shift(1)) , 'seq_up'] = 'up'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'].shift(1) !='up')&(mdb['Close']<=mdb['seq_high'].shift(1)) , 'seq_up'] = '0'
    
        mdb.loc[(mdb['#'] == 1), 'seq_dw'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] =='up'), 'seq_dw'] = '0'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] !='up'), 'seq_dw'] = 'dw'
    
        mdb.loc[(mdb['#'] == 1), 'SEQ_UP/DOWN'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] =='up'), 'SEQ_UP/DOWN'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_dw'] =='dw'), 'SEQ_UP/DOWN'] = 0
    
        mdb.loc[(mdb['#'] == 1), 'seq_ref_up'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] == 'up')&(mdb['High']>mdb['seq_high'].shift(1)) , 'seq_ref_up'] = 'ref_up'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] == 'up')&(mdb['High']<=mdb['seq_high'].shift(1)) , 'seq_ref_up'] = '0'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_up'] != 'up'), 'seq_ref_up'] = '0'
    
        mdb.loc[(mdb['#'] == 1), 'seq_ref_dw'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_dw'] == 'dw')&(mdb['Low']<mdb['seq_low'].shift(1)) , 'seq_ref_dw'] = 'ref_dw'
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_dw'] == 'dw')&(mdb['Low']>=mdb['seq_low'].shift(1)) , 'seq_ref_dw'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_dw'] != 'dw'), 'seq_ref_dw'] = '0'
    
        mdb.loc[(mdb['#'] == 1), 'seq_ref_y/n'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_up'] =='ref_up'), 'seq_ref_y/n'] = "y"
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_up'] !='ref_up')&(mdb['seq_ref_dw'] =='ref_dw'), 'seq_ref_y/n'] = "y"
        mdb.loc[(mdb['#'] != 1)&(mdb['seq_ref_up'] !='ref_up')&(mdb['seq_ref_dw'] !='ref_dw'), 'seq_ref_y/n'] = "n"
    

        

    
        count = count + 1

### Sequence Test File

In [55]:
mdb.to_csv(TSTPath + 'M_SEQ_TST.csv', columns=('#', 'Name','Date','Open','High','Low','Close','Adj_Close','seq_ref_up','seq_ref_dw','seq_ref_y/n','seq_up','seq_dw','SEQ_UP/DOWN','seq_open','seq_high','seq_low','seq_close','seq_adj_close'  ),index=False)

## Trend Start

In [56]:
#Trend Up Point#

In [57]:
mdb["trendPTup"] = 0

In [58]:
if Trend_exe==0:
    
    mdb["trendPTup"] = 0
    
else:
    
    count = 0

    while count <x:
       
        mdb.loc[(mdb['#'] == 1), 'trendPTup'] == 0
        mdb.loc[(mdb['SEQ_UP/DOWN'] == 1)&(mdb['Close'] > mdb['trendPTup'].shift(1)), 'trendPTup'] = mdb["Close"]
        mdb.loc[(mdb['SEQ_UP/DOWN'] == 1)&(mdb['Close'] <= mdb['trendPTup'].shift(1)), 'trendPTup'] = mdb['trendPTup'].shift(1)
        mdb.loc[(mdb['SEQ_UP/DOWN'] != 1), 'trendPTup'] = 0
    
        count = count + 1

In [59]:
#Trend Up Max Point#

In [60]:
mdb["trendMaxPTup"] = 0

In [61]:
if Trend_exe==0:
    
    mdb["trendMaxPTup"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'trendMaxPTup'] == 0
        mdb.loc[(mdb['trendPTup']== 0)&(mdb['#'] != 1),'trendMaxPTup'] = mdb["trendPTup"].shift(1)
        mdb.loc[(mdb['trendPTup']!= 0)&(mdb['#'] != 1),'trendMaxPTup'] = 0
    
        count = count + 1

In [62]:
#Trend Up Ref Point#

In [63]:
mdb["trendupref"] = 0

In [64]:
if Trend_exe==0:
    
    mdb["trendupref"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'trendupref'] == 0
        mdb.loc[(mdb['trendMaxPTup']== 0)&(mdb['#'] != 1),'trendupref'] = mdb["trendupref"].shift(1)
        mdb.loc[(mdb['trendMaxPTup']!= 0)&(mdb['#'] != 1),'trendupref'] = mdb['trendMaxPTup']
    
        count = count + 1

In [65]:
#2 Up trends Mark # ## TO ADD CHANGEABLE GAP

In [66]:
mdb["2trdupmark"] = 0

In [67]:
#ABOVE TREND_GAP_EXE#

if Trend_exe==0:
    
    mdb["2trdupmark"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), '2trdupmark'] = 0
        mdb.loc[(mdb['trendMaxPTup'].shift(-1)> (mdb["trendupref"])*(1+Trend_GAP_exe))&(mdb['#'] != 1),'2trdupmark'] = 1
        mdb.loc[(mdb['trendMaxPTup'].shift(-1)<=mdb["trendupref"])&(mdb['#'] != 1),'2trdupmark'] = 0

    
        count = count + 1

In [68]:
#Trend DW Point#

In [69]:
mdb["trendPTdw"] = 0

In [70]:
if Trend_exe==0:
    
    mdb["trendPTdw"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'trendPTdw'] == 0
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN'] == 0)&(mdb['SEQ_UP/DOWN'].shift(1)==1), 'trendPTdw'] = mdb["Close"]
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN'] == 0)&(mdb['SEQ_UP/DOWN'].shift(1)!=1)&(mdb["Close"]<mdb["trendPTdw"].shift(1)), 'trendPTdw'] = mdb["Close"]
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN'] == 0)&(mdb['SEQ_UP/DOWN'].shift(1)!=1)&(mdb["Close"]>=mdb["trendPTdw"].shift(1)), 'trendPTdw'] = mdb["trendPTdw"].shift(1)
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN'] != 0), 'trendPTdw'] = 0
    
        count = count + 1

In [71]:
#Trend DW Min Point#

In [72]:
mdb["trendMinPTdw"] = 0

In [73]:
if Trend_exe==0:
    
    mdb["trendMinPTdw"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'trendMinPTdw'] = 0
        mdb.loc[(mdb['trendPTdw']== 0)&(mdb['#'] != 1),'trendMinPTdw'] = mdb["trendPTdw"].shift(1)
        mdb.loc[(mdb['trendPTdw']!= 0)&(mdb['#'] != 1),'trendMinPTdw'] = 0
    
        count = count + 1

In [74]:
#Trend Dw Ref Point#

In [75]:
mdb["trendDWref"] = 0

In [76]:
if Trend_exe==0:
    
    mdb["trendDWref"] = 0
    
else:

    count = 0

    while count <x:
       
        mdb.loc[(mdb['#'] == 1), 'trendDWref'] = 0
        mdb.loc[(mdb['trendMinPTdw']== 0)&(mdb['#'] != 1),'trendDWref'] = mdb["trendDWref"].shift(1)
        mdb.loc[(mdb['trendMinPTdw']!= 0)&(mdb['#'] != 1),'trendDWref'] = mdb['trendMinPTdw']
    
        count = count + 1

In [77]:
#2 Dw trends Mark # ## TO ADD CHANGEABLE GAP

In [78]:
mdb["2trdDWmark"] = 0

In [79]:
#ABOVE TREND_GAP_EXE#

if Trend_exe==0:
    
    mdb["2trdDWmark"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), '2trdDWmark'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['trendMinPTdw'].shift(-1)>(mdb["trendDWref"]*(1+Trend_GAP_exe))),'2trdDWmark'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['trendMinPTdw'].shift(-1)<=mdb["trendDWref"]),'2trdDWmark'] = 0

    
        count = count + 1

In [80]:
#TREND Calculation

In [81]:
mdb["TrendCalc"] = 0

In [82]:
if Trend_exe==0:
    
    mdb["TrendCalc"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'TrendCalc'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN']==0)&(mdb["TrendCalc"].shift(1)==1),'TrendCalc'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN']==0)&(mdb["TrendCalc"].shift(1)!=1)&(mdb["2trdupmark"].shift(1)==1),'TrendCalc'] = 1
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN']==0)&(mdb["TrendCalc"].shift(1)!=1)&(mdb["2trdupmark"].shift(1)!=1),'TrendCalc'] = 0
        mdb.loc[(mdb['#'] != 1)&(mdb['SEQ_UP/DOWN']!=0),'TrendCalc'] = 0




    
        count = count + 1

In [83]:
#UP TREND - RESULT

In [84]:
mdb["UP_DW_TREND"] = 0

In [85]:
if Trend_exe==0:
    
    mdb["UP_DW_TREND"] = 0
    
else:

    count = 0

    while count < x:
       
        mdb.loc[(mdb['#'] == 1), 'UP_DW_TREND'] = 0
    
        mdb.loc[(mdb['#'] != 1)&(mdb['TrendCalc'].shift(1) + mdb["2trdDWmark"].shift(1) == 2),'UP_DW_TREND'] = 1
    
        mdb.loc[(mdb['#'] != 1)&(mdb['TrendCalc'].shift(1) + mdb["2trdDWmark"].shift(1) != 2) & (mdb["UP_DW_TREND"].shift(1)==1)& (mdb['MA_LINED']==1) ,'UP_DW_TREND'] = 1
    
    #mdb.loc[(mdb['idb'] != 1)&(mdb['TrendCalc'].shift(1) + mdb["2trdDWmark"].shift(1) != 2) & mdb["UP_DW_TREND"].shift(1)!=1 ,'UP_DW_TREND'] = 0


        mdb.loc[(mdb['#'] != 1)&(mdb['TrendCalc'].shift(1) + mdb["2trdDWmark"].shift(1) != 2) & (mdb["UP_DW_TREND"].shift(1)==1) & (mdb['MA_LINED']!=1) ,'UP_DW_TREND'] = 0


    
        count = count + 1


## Trend test file

In [86]:
mdb.to_csv(TSTPath + 'M_TREND_TST.csv', columns=('#', 'Name','Date','Close','MA_LINED','SEQ_UP/DOWN','trendPTup','trendMaxPTup','trendupref','2trdupmark','trendPTdw','trendMinPTdw','trendDWref','2trdDWmark','TrendCalc','UP_DW_TREND'), index=False)

# BUY ARGUMENTS

In [87]:
#Creating Buy/Sell Path Testing Folders#
Buy_Sell_Path = 'c:/Enigma/Monthly/Buy_Sell/'

In [88]:
mdb["Buy_Combined"] = 0

In [89]:
mdb["BUY_Decision"] = 0

In [90]:
mdb["Temp_BUY"] = 0

In [91]:
mdb["Buy_Combined"] = mdb['Candle'] + mdb['Vol_EMA3_ARG'] + mdb['MA_LINED']+mdb['CLS>MA20']+ mdb['CLS>EMA8']+ mdb['CLS>EMA3']+ mdb['MA20TOUCH'] + mdb['SEQ_UP/DOWN'] + mdb['UP_DW_TREND']

In [92]:
mdb["BUY_Decision"] = Vol_EMA3_exe + Candle_exe + MA_Lined_exe  + Above_MA20_exe + MA20_Crossed_exe + EMA8_exe+ EMA3_exe + Sequince_exe + Trend_exe

In [93]:
mdb.loc[(mdb['Buy_Combined'] ==mdb["BUY_Decision"]), 'Temp_BUY'] = 1

In [94]:
### ReCalc EMA8 & EMA3 ###

In [95]:
mdb.loc[(mdb['#']<8), 'CLS>EMA8'] = 0
mdb.loc[(mdb['#']>=8)&(mdb['Close']>mdb['CLS_EMA8']), 'CLS>EMA8'] = 1
mdb.loc[(mdb['#']>=8)&(mdb['Close']<=mdb['CLS_EMA8']), 'CLS>EMA8'] = 0


mdb.loc[(mdb['#']<3), 'CLS>EMA3'] = 0
mdb.loc[(mdb['#']>=3)&(mdb['Close']>mdb['CLS_EMA3']), 'CLS>EMA3'] = 1
mdb.loc[(mdb['#']>=3)&(mdb['Close']<=mdb['CLS_EMA3']), 'CLS>EMA3'] = 0

# SELL ARGUMENTS

## Joker EMA SELL CREATION

In [96]:
###JOKER SELL EMA###
J=int(values[16])


mdb.loc[(mdb['#']>=J), 'CLS_EMAJ'] = mdb.groupby(mdb["Name"]).Close.transform(lambda c: c.ewm(span=J, adjust=False).mean())

    

mdb.loc[(mdb['#']<J), 'CLS>EMAJ'] = 0
mdb.loc[(mdb['#']>=J)&(mdb['Close']>mdb['CLS_EMAJ']), 'CLS>EMAJ'] = 1
mdb.loc[(mdb['#']>=J)&(mdb['Close']<=mdb['CLS_EMAJ']), 'CLS>EMAJ'] = 0

In [97]:
mdb["SELL_EMA8"] = 0

mdb["SELL_EMA3"] = 0

mdb["Buy_Sell_EMA8"] = 0

mdb["BUY_PRICE_EMA8_SELL"] = 0

mdb["BUY_PRICE_EMA8_LINE"] = 0

mdb["PRICE_EMA8_LINE_Profit"] = 0

mdb["PRICE_EMA3_KICKS"] = 0

mdb["TEMP_SELL_EMA3"] = 0

mdb["TEMP_SELL_LINE_EMA3"] = 0

mdb["BUY_SELL_EMA3"] = 0

mdb["Symbol_Pos"] = 0

mdb['Sell_VOL_EMA3']=0

mdb['temp1_VOL_EMA3']=0

mdb['temp2_VOL_EMA3']=0

## SELL Below Joker EMA

In [98]:
######## SELL WHEN BELOW EMA8  ##########

if Sell_EMA8_exe==1:
    if Sell_EMA3_exe==0:
        if VOL_EMA3_exe==0:
        
            count = 0

            while count < x:

                #Sell_EMA8#

                mdb.loc[(mdb['#'] == 1), 'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==1),'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==0),'SELL_EMA8'] = 1
    
                 #Sell Below EMA8
    
                mdb.loc[(mdb['#'] == 1), 'Buy_Sell_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] == 1), 'Buy_Sell_EMA8'] = 1 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] == 1), 'Buy_Sell_EMA8'] = 0 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] != 1), 'Buy_Sell_EMA8'] = mdb["Buy_Sell_EMA8"].shift(1)

                 ### BUY / SELL / DECITION ###
    
                mdb.loc[(mdb['#'] == 1), 'Symbol_Pos'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]== 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 0), 'Symbol_Pos'] = 'BUY'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]== 1)&(mdb["Buy_Sell_EMA8"].shift(1)!= 0), 'Symbol_Pos'] = 'HOLD'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]!= 1)&(mdb["Buy_Sell_EMA8"].shift(1)!= 1), 'Symbol_Pos'] = 'OUT'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]!= 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 1), 'Symbol_Pos'] = 'SELL'

                count = count + 1

## SELL Below Joker EMA + EMA3

In [99]:

######## SELL WHEN BELOW EMA8 or if profit above X% SELL BELOW EMA3 ##########



if Sell_EMA8_exe==1:
    if Sell_EMA3_exe==1:
    
            

            count = 0

            while count < x:

                #Sell_EMA8#

                mdb.loc[(mdb['#'] == 1), 'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==1),'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==0),'SELL_EMA8'] = 1
    
                #Sell_EMA3#

                mdb.loc[(mdb['#'] == 1), 'SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMA3']==1),'SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMA3']==0),'SELL_EMA3'] = 1

                #Sell Below EMA8
    
                mdb.loc[(mdb['#'] == 1), 'Buy_Sell_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] == 1), 'Buy_Sell_EMA8'] = 1 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] == 1), 'Buy_Sell_EMA8'] = 0 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] != 1), 'Buy_Sell_EMA8'] = mdb["Buy_Sell_EMA8"].shift(1)
            
            ##Activate Sell Below EMA8 when EMA3 Kicks in above x% ## SELL OPTION NUMBER 2##
 
                # step 1  - finding buy price using EMA8 sell Argument#
    
                mdb.loc[(mdb['#'] == 1), 'BUY_PRICE_EMA8_SELL'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 0), 'BUY_PRICE_EMA8_SELL'] = mdb["Close"] 
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 1), 'BUY_PRICE_EMA8_SELL'] = 0 
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 0), 'BUY_PRICE_EMA8_SELL'] = 0 
            
                # step 2  - creating price line from EMA8 sell Argument#
    
                mdb.loc[(mdb['#'] == 1), 'BUY_PRICE_EMA8_LINE'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["BUY_PRICE_EMA8_SELL"]!= 0), 'BUY_PRICE_EMA8_LINE'] = mdb["BUY_PRICE_EMA8_SELL"]
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["BUY_PRICE_EMA8_SELL"]== 0), 'BUY_PRICE_EMA8_LINE'] = mdb["BUY_PRICE_EMA8_LINE"].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 0), 'BUY_PRICE_EMA8_LINE'] = 0
    
                # step 3  - calculating profit on a price_line#
    
                mdb.loc[(mdb['#'] == 1), 'PRICE_EMA8_LINE_Profit'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"] != 0), 'PRICE_EMA8_LINE_Profit'] = ((mdb["Close"]-mdb["BUY_PRICE_EMA8_LINE"])/mdb["BUY_PRICE_EMA8_LINE"])
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"] == 0), 'PRICE_EMA8_LINE_Profit'] = 0

                # step 4  - marking when profit is above x% to exit with EMA3#

                mdb.loc[(mdb['#'] == 1), 'PRICE_EMA3_KICKS'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] > EMA_Sell_Above_exe), 'PRICE_EMA3_KICKS'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] <= EMA_Sell_Above_exe)&(mdb["PRICE_EMA3_KICKS"].shift(1)==1)&(mdb["Buy_Sell_EMA8"]==1), 'PRICE_EMA3_KICKS'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] <= EMA_Sell_Above_exe)&(mdb["PRICE_EMA3_KICKS"].shift(1)==1)&(mdb["Buy_Sell_EMA8"]==0), 'PRICE_EMA3_KICKS'] = 0

                # step 5  - TEMP SELL EMA3
    
                mdb.loc[(mdb['#'] == 1), 'TEMP_SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] == 1)&(mdb["SELL_EMA3"] == 1), 'TEMP_SELL_EMA3'] = "s"
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] != 1)&(mdb["SELL_EMA3"] == 1), 'TEMP_SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] == 1)&(mdb["SELL_EMA3"] != 1), 'TEMP_SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] != 1)&(mdb["SELL_EMA3"] != 1), 'TEMP_SELL_EMA3'] = 0

    
                # step 6  - TEMP SELL_LINE_EMA3
    
                mdb.loc[(mdb['#'] == 1), 'TEMP_SELL_LINE_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] == 1)&(mdb["TEMP_SELL_EMA3"] == "s"), 'TEMP_SELL_LINE_EMA3'] = "s"
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] == 1)&(mdb["TEMP_SELL_EMA3"] != "s"), 'TEMP_SELL_LINE_EMA3'] = mdb["TEMP_SELL_LINE_EMA3"].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA3_KICKS"] != 1), 'TEMP_SELL_LINE_EMA3'] = 0
    
                # step 7  - BUY/SELL EMA3

                mdb.loc[(mdb['#'] == 1), 'BUY_SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["TEMP_SELL_LINE_EMA3"] == 's'), 'BUY_SELL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 1)&(mdb["TEMP_SELL_LINE_EMA3"] != 's'), 'BUY_SELL_EMA3'] = mdb["Buy_Sell_EMA8"]
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 0)&(mdb["TEMP_SELL_LINE_EMA3"] == 's'), 'BUY_SELL_EMA3'] = mdb["Buy_Sell_EMA8"]
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"] == 0)&(mdb["TEMP_SELL_LINE_EMA3"] != 's'), 'BUY_SELL_EMA3'] = mdb["Buy_Sell_EMA8"]
                mdb.loc[(mdb['#'] != 1)&(mdb["TEMP_SELL_LINE_EMA3"].shift(1) == 's')&(mdb["TEMP_SELL_LINE_EMA3"] == 's'), 'BUY_SELL_EMA3'] = mdb["Buy_Sell_EMA8"]


                ### BUY / SELL / DECITION ###
    
                mdb.loc[(mdb['#'] == 1), 'Symbol_Pos'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_SELL_EMA3"]== 1)&(mdb["BUY_SELL_EMA3"].shift(1)== 0), 'Symbol_Pos'] = 'BUY'
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_SELL_EMA3"]== 1)&(mdb["BUY_SELL_EMA3"].shift(1)!= 0), 'Symbol_Pos'] = 'HOLD'
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_SELL_EMA3"]!= 1)&(mdb["BUY_SELL_EMA3"].shift(1)!= 1), 'Symbol_Pos'] = 'OUT'
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_SELL_EMA3"]!= 1)&(mdb["BUY_SELL_EMA3"].shift(1)== 1), 'Symbol_Pos'] = 'SELL'

    
                ### RESETING EMA 8 WHEN EMA3 SELL###
    
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'BUY_PRICE_EMA8_LINE'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'PRICE_EMA8_LINE_Profit'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'Buy_Sell_EMA8'] = 0
    
    
                count = count + 1

## SELL Below Joker EMA + VOL ARG

In [100]:

######## SELL WHEN BELOW EMA8 AND VOL  BIGGER THEN AVG VOL BY X% ##########

if Sell_EMA8_exe==1:
    if Sell_EMA3_exe==0:
        if VOL_EMA3_exe==1:
        
            count = 0

            while count < x:

                #Sell_EMA8#

                mdb.loc[(mdb['#'] == 1), 'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==1),'SELL_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['CLS>EMAJ']==0),'SELL_EMA8'] = 1
    
                
                #Sell_VOL_EMA3#
                
                mdb.loc[(mdb['#'] == 1), 'Sell_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['Volume']*(1+VOL_EMA3_Sell_Above)>=mdb['Vol_EMA3']), 'Sell_VOL_EMA3'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb['Volume']*(1+VOL_EMA3_Sell_Above)<mdb['Vol_EMA3']), 'Sell_VOL_EMA3'] = 0


                #Sell Below EMA8 & SELL VOL EMA3#
    
                mdb.loc[(mdb['#'] == 1), 'Buy_Sell_EMA8'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] == 1), 'Buy_Sell_EMA8'] = 1 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] == 1)&(mdb["Sell_VOL_EMA3"] == 1), 'Buy_Sell_EMA8'] = 0 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] != 1)&(mdb["Sell_VOL_EMA3"] == 1), 'Buy_Sell_EMA8'] = mdb["Buy_Sell_EMA8"].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] == 1)&(mdb["Sell_VOL_EMA3"] != 1), 'Buy_Sell_EMA8'] = mdb["Buy_Sell_EMA8"].shift(1) 
                mdb.loc[(mdb['#'] != 1)&(mdb["Temp_BUY"] != 1)&(mdb["SELL_EMA8"] != 1)&(mdb["Sell_VOL_EMA3"] != 1), 'Buy_Sell_EMA8'] = mdb["Buy_Sell_EMA8"].shift(1)
                

                 ### BUY / SELL / DECITION ###
    
                mdb.loc[(mdb['#'] == 1), 'Symbol_Pos'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]== 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 0), 'Symbol_Pos'] = 'BUY'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]== 1)&(mdb["Buy_Sell_EMA8"].shift(1)!= 0), 'Symbol_Pos'] = 'HOLD'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]!= 1)&(mdb["Buy_Sell_EMA8"].shift(1)!= 1), 'Symbol_Pos'] = 'OUT'
                mdb.loc[(mdb['#'] != 1)&(mdb["Buy_Sell_EMA8"]!= 1)&(mdb["Buy_Sell_EMA8"].shift(1)== 1), 'Symbol_Pos'] = 'SELL'



                count = count + 1

## SELL Below Joker EMA + EMA3 + VOL ARG

In [101]:



######## SELL WHEN BELOW EMA8 or if profit above X% SELL BELOW EMA3 AND VOL BIGGER THEN AVG VOL BY X%##########




if Sell_EMA8_exe==1:
    if Sell_EMA3_exe==1:
        if VOL_EMA3_exe==1:
            
            mdb["Symbol_Pos"]=""
            

            count = 0

            while count < x:

                #Sell_VOL_EMA3#
                
                mdb.loc[(mdb['#'] == 1), 'Sell_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['Volume']*(1+VOL_EMA3_Sell_Above)>=mdb['Vol_EMA3']), 'Sell_VOL_EMA3'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb['Volume']*(1+VOL_EMA3_Sell_Above)<mdb['Vol_EMA3']), 'Sell_VOL_EMA3'] = 0
                
                
                 #temp1_VOL_EMA3#
                
                mdb.loc[(mdb['#'] == 1), 'temp1_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==0)&(mdb['Sell_VOL_EMA3']==1) & (mdb['PRICE_EMA3_KICKS']==0) & (mdb['CLS>EMAJ']==0), 'temp1_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==0)&(mdb['Sell_VOL_EMA3']==1) & (mdb['PRICE_EMA3_KICKS']==0) & (mdb['CLS>EMAJ']==1), 'temp1_VOL_EMA3'] = mdb['temp1_VOL_EMA3'].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==0)&(mdb['Sell_VOL_EMA3']==1) & (mdb['PRICE_EMA3_KICKS']==1) & (mdb['SELL_EMA3']==1), 'temp1_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==0)&(mdb['Sell_VOL_EMA3']==1) & (mdb['PRICE_EMA3_KICKS']==1) & (mdb['SELL_EMA3']==0), 'temp1_VOL_EMA3'] =  mdb['temp1_VOL_EMA3'].shift(1)
                
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==0)&(mdb['Sell_VOL_EMA3']==0) , 'temp1_VOL_EMA3'] = mdb['temp1_VOL_EMA3'].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb['BUY_SELL_EMA3']==1) , 'temp1_VOL_EMA3'] = mdb['BUY_SELL_EMA3']
                
                mdb.loc[(mdb['PRICE_EMA3_KICKS'] == 1), 'temp2_VOL_EMA3'] = "***"

                                                                           
                
                 ### BUY / SELL / DECITION ###
    
                mdb.loc[(mdb['#'] == 1), 'Symbol_Pos'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["temp1_VOL_EMA3"]== 1)&(mdb["temp1_VOL_EMA3"].shift(1)== 0), 'Symbol_Pos'] = 'BUY'
                mdb.loc[(mdb['#'] != 1)&(mdb["temp1_VOL_EMA3"]== 1)&(mdb["temp1_VOL_EMA3"].shift(1)!= 0), 'Symbol_Pos'] = 'HOLD'
                mdb.loc[(mdb['#'] != 1)&(mdb["temp1_VOL_EMA3"]!= 1)&(mdb["temp1_VOL_EMA3"].shift(1)!= 1), 'Symbol_Pos'] = 'OUT'
                mdb.loc[(mdb['#'] != 1)&(mdb["temp1_VOL_EMA3"]!= 1)&(mdb["temp1_VOL_EMA3"].shift(1)== 1), 'Symbol_Pos'] = 'SELL'
                
                
                ###Adding relevant rows to priceline###
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]!= "SELL"), 'BUY_PRICE_EMA8_LINE'] = mdb["BUY_PRICE_EMA8_LINE"].shift(1)
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]== "SELL"), 'BUY_PRICE_EMA8_LINE'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]== "OUT"), 'BUY_PRICE_EMA8_LINE'] = 0



                
                #### CAlculating Profit ###   
                
                
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]!= "SELL"), 'PRICE_EMA8_LINE_Profit'] = ((mdb["Close"]-mdb["BUY_PRICE_EMA8_LINE"])/mdb["BUY_PRICE_EMA8_LINE"])
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]== "SELL"), 'PRICE_EMA8_LINE_Profit'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["BUY_PRICE_EMA8_LINE"].shift(1)!= 0)&(mdb["Symbol_Pos"]== "OUT"), 'PRICE_EMA8_LINE_Profit'] = 0

                #### priceline EMA3 Kick ###  
                
                mdb.loc[(mdb['#'] == 1), 'PRICE_EMA3_KICKS'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] > EMA_Sell_Above_exe), 'PRICE_EMA3_KICKS'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] <= EMA_Sell_Above_exe)&(mdb["PRICE_EMA3_KICKS"].shift(1)==1)&(mdb["temp1_VOL_EMA3"]==1), 'PRICE_EMA3_KICKS'] = 1
                mdb.loc[(mdb['#'] != 1)&(mdb["PRICE_EMA8_LINE_Profit"] <= EMA_Sell_Above_exe)&(mdb["PRICE_EMA3_KICKS"].shift(1)==1)&(mdb["temp1_VOL_EMA3"]==0), 'PRICE_EMA3_KICKS'] = 0

                
                
                ### RESETING WHEN SELL###
    
          
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'BUY_PRICE_EMA8_LINE'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'PRICE_EMA8_LINE_Profit'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'temp1_VOL_EMA3'] = 0
                mdb.loc[(mdb['#'] != 1)&(mdb["Symbol_Pos"]== "SELL"), 'SELL_EMA3'] = 0


                
                
                
                
                
                
                
                
                

                count = count + 1

# BUY & SELL TEST FILES

In [102]:
mdb.to_csv(Buy_Sell_Path + 'Buy_Test.csv', columns=('#', 'Name','Date','Close','Candle','Vol_EMA3_ARG','MA_LINED','CLS>MA20','CLS>EMA8','CLS>EMA3','MA20TOUCH','SEQ_UP/DOWN','UP_DW_TREND','BUY_Decision','Temp_BUY','Buy_Sell_EMA8','TEMP_SELL_EMA3','TEMP_SELL_LINE_EMA3','BUY_SELL_EMA3','Symbol_Pos'),index=False)

In [103]:
mdb.to_csv(Buy_Sell_Path + 'M_buy_sell.csv', columns=('#', 'Name','Date','Close','Symbol_Pos'))

In [104]:
#mdb.to_csv(Buy_Sell_Path + "M_P_L_Analysis.xlsx",columns=['#', 'Name','Date','Close','Symbol_Pos'], sheet_name = "M_Raw")

In [105]:
#Print Console

PANEL = pd.DataFrame([['VOL_EMA3',Vol_EMA3_exe, ''], ['VOL_VAR%',Above_VOL_exe, ''], 
                      ['Candle',Candle_exe, ''], ['MA_Lined',MA_Lined_exe, ''] ,['Above_MA20',Above_MA20_exe, ''] ,
                      ['MA20_Crossed',MA20_Crossed_exe, ''] ,['EMA8',EMA8_exe, ''] ,['Sequince',Sequince_exe, ''] ,
                      ['Trend',Trend_exe, ''],['Trend_VAR_%',Trend_GAP_exe, ''],['Sell_EMA_JOKER','',Sell_EMA8_exe ],['Sell EMA3','',Sell_EMA3_exe ],['EMA3_Sell_Above_%','', EMA_Sell_Above_exe],['VOL_EMA3','',VOL_EMA3_exe], ['Vol_EMA3_Sell_Above_%','', VOL_EMA3_Sell_Above],['JOKER_EMA','', J] ], columns=['ARGUMENTS','MONTHLY-BUY', 'MONTHLY-SELL'])


PANEL.to_csv(Buy_Sell_Path + "M_Panel.csv")

PANEL

                ARGUMENTS MONTHLY-BUY MONTHLY-SELL
0                VOL_EMA3           1
1                VOL_VAR%        0.05
2                  Candle           1
3                MA_Lined           1
4              Above_MA20           1
5            MA20_Crossed           1
6                    EMA8           1
7                Sequince           1
8                   Trend           1
9             Trend_VAR_%         0.2
10         Sell_EMA_JOKER                        1
11              Sell EMA3                        1
12      EMA3_Sell_Above_%                      1.4
13               VOL_EMA3                        1
14  Vol_EMA3_Sell_Above_%                     0.05
15              JOKER_EMA                        8

In [106]:
#with pd.ExcelWriter(Buy_Sell_Path + "M_P_L_Analysis.xlsx") as writer:  # doctest: +SKIP
  #  mdb.to_excel(writer,columns=('#', 'Name','Date','Close','Symbol_Pos'), sheet_name='m_buy_sell')
  #  PANEL.to_excel(writer, sheet_name='m_panel')
 #   mdb.to_excel(writer,columns=('#', 'Name','Date','Close','Candle','Vol_EMA3_ARG','MA_LINED','CLS>MA20','CLS>EMA8','MA20TOUCH','SEQ_UP/DOWN','UP_DW_TREND','Buy_Combined','BUY_Decision','Temp_BUY'), sheet_name='m_buy')

# CREATING WEEKLY DATABASE

In [107]:
BTC_Data_Folder = 'c:/Enigma/DataBase/BTS/'

In [108]:
mdb.to_csv(BTC_Data_Folder+'mdb_wdb.csv', columns=('Ref','Symbol_Pos','Temp_BUY'), index=False)

In [109]:
#wdb.to_csv(BTC_Data_Folder+'wdb+mdb_Ref.csv', columns=('Ref','Name','Date','Open', 'High', 'Low', 'Close', 'Adj_Close', 'Volume'), index= False)

In [110]:
mdb_ref = pd.DataFrame()
wdb_ref= pd.DataFrame()
wdb_mdb_ref = pd.DataFrame()
wdb_mdb_temp = pd.DataFrame()

In [111]:
mdb_ref = pd.read_csv(BTC_Data_Folder+'mdb_wdb.csv')
wdb_ref = pd.read_csv(BTC_Data_Folder+'mwdb.csv')

In [112]:
wdb_mdb_temp = pd.merge(wdb_ref, mdb_ref, how='outer' )

In [113]:
wdb_mdb_temp['#'] = wdb_mdb_temp.groupby(wdb_mdb_temp['Name']).cumcount()+1

## Adding Monthly Buy Mark to Weekly Database

In [114]:
wdb_mdb_temp['M_IN']=0

count = 0

while count < x:
    
    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] == 1), 'M_IN'] = 0
    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] != 1)&(wdb_mdb_temp['Symbol_Pos'] == 'BUY'), 'M_IN'] = 1
    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] != 1)&(wdb_mdb_temp['Symbol_Pos'] == 'HOLD'), 'M_IN'] = 1
    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] != 1)&(wdb_mdb_temp['Symbol_Pos'] == 'SELL'), 'M_IN'] = 0
    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] != 1)&(wdb_mdb_temp['Symbol_Pos'] == 'OUT'), 'M_IN'] = 0


    wdb_mdb_temp.loc[(wdb_mdb_temp['#'] != 1)&(wdb_mdb_temp['Symbol_Pos'] != 'HOLD')&(wdb_mdb_temp['Symbol_Pos'] != 'BUY')&(wdb_mdb_temp['Symbol_Pos'] != 'SELL')&(wdb_mdb_temp['Symbol_Pos'] != 'OUT'), 'M_IN'] = wdb_mdb_temp['M_IN'].shift(1)

    
    count = count + 1

In [115]:

wdb_mdb_temp.to_csv(BTC_Data_Folder+'tempweekly.csv')

In [116]:
wdb_mdb_ref["Ref"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Ref.last()
wdb_mdb_ref["Name"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Name.last()
wdb_mdb_ref["Date"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Date.last()
wdb_mdb_ref["Open"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Open.first()
wdb_mdb_ref["High"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).High.max()
wdb_mdb_ref["Low"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Low.min()
wdb_mdb_ref["Close"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Close.last()
wdb_mdb_ref["Adj_Close"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Adj_Close.last()
wdb_mdb_ref["Volume"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).Volume.sum()
wdb_mdb_ref["M_IN"] = wdb_mdb_temp.groupby(wdb_mdb_temp["group_index_ref"]).M_IN.last()

In [117]:
DBdimPath = 'c:/Enigma/DataBase/'

In [118]:
wdb_mdb_ref.sort_values(by=['Name', 'Date'],inplace=True)

## Saving Weekly Database and Weekly Database Ref for Daily Database

In [119]:

wdb_mdb_ref.to_csv(BTC_Data_Folder+'wdb_mdb_ref.csv', index=False)

In [120]:
wdb_mdb_ref.to_csv(DBdimPath+'weekly_db.csv', index=False)